.infoBox {
    flex : 1;
    cursor: pointer;
    /* background-color: #3500d3 !important; */
    background-color: #1f2833 !important;
    border-bottom: 5px solid #6cfcf1 !important;
    border-left: 5px solid #6cfcf1 !important;
    /* border-right: 5px solid #6cfcf1 !important; */
    
}

.infoBox--selected {
    border-top : 10px solid greenyellow;
    
}

.infoBox--red {
    border-color:red;
    
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases { 
    color : #cc1034;
    font-weight : 600;
    font-size : 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__cases--green {
    color : lightgreen !important;
}

.infoBox__total {
    color : #45a29e !important;
    font-weight: 700 !important;
    font-size: 1rem !important;
    margin-top : 15px !important;
}

.infoBox__title {
    color : #6cfcf1 !important;
    font-size: large;
}